body{
  background-color: rgb(43, 44, 48);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;

}

  header nav{
    
    background-color: rgb(100, 5, 11);
    height: 55%;
    border-bottom: 2px solid black;
  }
  #links a:visited { 
    text-decoration: none; 
    color: white; 
   }
  .nav-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
    
  #links a{
    margin: 15px;
    text-decoration: none;
  }
  
  @media (max-width: 500px) {
    #links {
      display: none;
    }
  }
  
  #separator{
    display: inline-block;
    height: 16px;
    width: 1px;
    background: currentColor;
  }
  
  #menu {
    display: none;
  }
  
  #menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  @media (max-width: 500px) {
    #menu {
      display: block;
    }
  }
  
  .button{
  border-radius: 30px;
  width: 100px;
  height: 20px;
  padding: 10px;
  }

  .button:hover{
    background-image: url(../images/TEXTURE_FIBRACARBONIO.jpg);
    background-size: cover;
    font-weight: bold;
    border: 2px solid black;
  }

  h1{
      font-size: 72px;
  }

  .userInfo{
    display: flex;
    padding-top: 12%;
    padding-left: 20px;
  }

  #container{
    width: 100%;
    height: 50%;
  }
  
  p {
    margin-left: 20px;
  }

  h2{
    margin-left: 20px;
  }

  @media (max-width: 700px) {
    .container{
      height: auto;
      flex-direction: column;
    }

    h2{
      font-size: 14px;
    }

    p{
      font-size: 10px;
    }

    h1{
      font-size: 24px;
    }

    header nav{
    
     height: auto;
    }
    
    .userInfo{
      padding-top: 30%;
    }

    #logo img {
      width: 100px;
      height: 100px;
    }
  }
